
<div class="mt-3 col-lg-6 col-md-8 col-sm-12 mx-auto text-center">
    <div class="body-container">
        <div class="row mt-2 course-img-container">
            <img src="{{ asset('img/course.png') }}" class="course-img" alt="">
        </div>
    {{ form_start(courseForm) }}
    {{ form_row(courseForm.title,{
        attr: {
            placeholder: 'Titre du cours',
            class : 'text-center'
        }
    }) }}
    {{ form_row(courseForm.category,{
        attr: {
            placeholder: 'Catégorie du cours',
            class : 'text-center'
        }
    }) }}
    {{ form_row(courseForm.timeNeeded,{
        attr: {
            placeholder: 'Temps nécessaire',
            class : 'text-center'
        }
    }) }}
    {{ form_row(courseForm.description,{
        attr: {
            placeholder: 'Description du cours',
            class : 'text-center'
        }
    }) }}
    <div class="row">
        {% if courseForm.vars.data.imgUrl|default %}
            <div class="col-sm-9">
                {{ form_row(courseForm.imgFile,{
                    attr: {
                        placeholder: 'Selectionnez une image'
                    }
                }) }}
            </div>
            <div class="col-sm-3">
                    <img class="d-block w-100 border border-dark" src="{{ courseForm.vars.data.imgUrl }}">
            </div>
        {% else %}
            <div class="col-sm-12">
                {{ form_row(courseForm.imgFile,{
                    attr: {
                        placeholder: 'Selectionnez une image'
                    }
                }) }}
            </div>
        {% endif %}
    </div>

    <button type="submit" class="btn btn-dark btn-lg">
        {{ btn_text }}
    </button>
    {{ form_end(courseForm) }}
    </div>

</div>